/* CSS RESET */


*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --font-sans: 'Poppins', sans-serif;

  --color-neutral-light:  #f2f2f2;
  --color-neutral-medium:  #515151;
  --color-neutral-dark:  #361B01;


  --header-height:  3rem;
}

body {
  margin: 0;
  font-size: 100%;
  font-family: var(--font-sans);

}

h1 {
  font-size: 18px;
  font-weight: bold;
  margin-left: 25px;
}

h2 {
  font-size:  16px;
  color: #bebebe;

}

h3 {
  font-size:  14px;

}

h4 {
  font-size:  1em;
  font-weight: bold;
  color: red;
  text-align: center;

}

h5 {
  font-size:  13px;
  color: black;
  text-align: center;

}

p {
  font-size: 12px;
  color: #515151;
}

a {
  color: inherit;
  font-weight: 500;
  text-decoration: none;

}

a:hover {
  text-decoration: none;
}

/* Layout Classes */

.overscroll { overflow: auto; }

.hidden { display: none; }

.display-flex { display: flex; }
.display-block { display: block; }
.display-inline-flex { display: inline-flex; }
.display-inline-block { display: inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex: none; }

.flex-align-center { align-items: center; }
.flex-justify-center { justify-content: center; }

.flex-column { flex-direction: column; display: flex;
    flex-wrap: wrap; justify-content: center;}

.display-grid {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-gap: 6px;
    justify-content: center;
}


.fill-parent {
   height: 100%;
   width: 100%;
}
.noclick-children * { pointer-events:none; 
    margin-left: 15px;
  }

/* Forms */


.form-control  {
  margin: 1em 0;
  max-width: 100%;
  align-items: center;

}

.ui-mobile .form-label {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin: 0.5rem 0;

}

.form-input {
  display: inline-block;
  width: 100%;
  border-width: 0;
  background-color: var(--color-neutral-light);
  font: inherit;
  font-weight: 300;
  padding: 0.5em 1em;
  margin: 0;
  outline: 0;
  border-radius: 20px;
  justify-content: center;

  
}


.form-button{
  display: inline-block;
  width: 100%;
  border-width: 0;
  background-color: #F28D8D;
  color: white;
  font: inherit;
  padding: 0.5em 1em;
  margin: 0;
  outline: 0;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  align-items: center;

}



.form-button2 {
  display: inline-block;
  width: 60%;
  border-width: 0;
  background-color: #F28D8D;
  color: white;
  font: inherit;
  padding: 0.5em 1em;
  margin: 0;
  outline: 0;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  align-items: center;

}

.go-profile-button {
  display: inline-block;
  width: 60%;
  border-width: 0;
  background-color: #F28D8D;
  color: white;
  font: inherit;
  padding: 0.5em 1em;
  margin: 0;
  outline: 0;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  align-items: center;

}

.location-button{
  display: inline-block;
  border-width: 0;
  background-color: #68bb59;
  color: white;
  font: inherit;
  padding: 0.5em 1em;
  margin: 0;
  outline: 0;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  align-items: center;
}


.button2{
  display: inline-block;
  width: 100%;
  border-width: 0;
  background-color: #000;
  color: white;
  font: inherit;
  padding: 0.5em 1em;
  margin: 0;
  outline: 0;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  justify-content: center;
}


#login-form,
#signup-form
#animal-add-form,
#animal-edit-form,
#animal-edit-name,
#animal-edit-name,
#animal-edit-type,
#animal-edit-breed,
#animal-edit-description {
  padding: 1.5em;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

a.edit-user-button.ui-link {
    color: white;
    background: black;
    text-align: center;
    flex: 1 1 auto;
    border-radius: 25px;
    font-style: bold;
    /* width: 100%; */
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

a.edit-password-button.ui-link {
    color: white;
    background: black;
    text-align: center;
    flex: 1 1 auto;
    border-radius: 25px;
    font-style: bold;
    /* width: 100%; */
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
        margin-left: -25px;
}

a.js-logout.ui-link {
    color: white;
    background: black;
    text-align: center;
    flex: 1 1 auto;
    border-radius: 25px;
    font-style: bold;
    /* width: 100%; */
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

a.button2.ui-link {
    margin-left: -150px;
    align-items: center;
    width: 250px;
    margin-top: 200px;
    background-color: #68bb59;
    /* left: 50%; */
    /* margin: 0; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* justify-content: center; */
}


#search-form {
  padding: 1em;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}





.hotdog {
   background-color: white;
   border-radius: 2em;
   line-height: 3rem;
   padding: 0 2em;
}
.hotdog input {
   border-width: 0;
   padding: 0;
   margin: 0;
   width: 100%;
   flex: 1 1 auto;
   display: block;
   font: inherit;
   color: inherit;
   outline: 0;
   background-color: transparent;
}
.hotdog.dark {
   background-color: var(--color-neutral-light);
   color: white;
}




.recent-search {
   margin: 1em;
   display: flex;
   position: relative;
}
.search-bar {
   z-index: 2;
   padding: 0.2em 1em;
   display: flex;
}
.search-bar.header {
   box-shadow:none;
}
.search-bar .hotdog {
   width: 100%;
   color: black;
}
.filter-bar {
   z-index: 1;
   display: flex;
   padding: 0 1em;
   gap: 2em;
   font-weight: bold;
   width: 100%;
    padding-top: 10px;
}


.filter-bar.header {
   overflow: auto;
}



/*Page layouts*/

.ui-mobile .ui-page-active {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

}

[data-role="main"] {
  flex: 1 1 100%;
  overflow: auto;
  position: relative;
  align-items: center;
}

.ui-mobile .ui-page-active {
   display: flex;
   flex-direction: column;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
}

.ui-header {
   flex: none;
   height: var(--header-height);
   line-height: var(--header-height);
   border-width: 0;
   background-color: black;
   color: white;

   position: relative;
   overflow: hidden;
}

.ui-footer {
    flex: none;
    height: var(--header-height);
    line-height: var(--header-height);
    border-width: 0;
    background-color: black;
    color: white;
    box-shadow: 0 0 5px rgb(0 0 0 / 15%);
    position: relative;
    overflow: auto;
}

.ui-header .ui-title {
   margin: 0;
   padding: 0;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   text-align: center;
}


.ui-header ul,
.ui-footer ul {
   position: relative;
   display: flex;
   list-style-type: none;
   margin: 0;
   padding: 0;
  justify-content: center;
}

.ui-header a,
.ui-footer a {
   display: block;
   padding: 0 2em;
}

a.active.ui-link {
    color: #F28D8D;
        font-weight: bold;
}

/* Animal List */
.animal-list {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    gap: 6px;
    justify-content: center;
    border-radius: 10px;
    padding-left: 0px;
}

.animal-list-item a {
   display: flex;
    justify-content: center;
    align-items: center;
}
.animal-list-item a:hover {
   text-decoration: none;
}
.animal-list-image img {
    width: 10em;
    vertical-align: text-bottom;
    border-radius: 8px;
    height: 11em;
    object-fit: cover;
}

.animal-list-body {
   padding: 1em;
}
.animal-list-name {
   font-size: 1.3em;
}

#animal-profile-page [data-role="main"] {
   display: flex;
   flex-direction: column;
}


#user-settings-page [data-role="main"] ul {
   display: grid;
   flex-direction: column;
   gap: 30px;
   justify-content: center;
}

.animal-profile-top {
    height: 50%;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}

.animal-profile-bottom {
   flex: 1 1 auto;
   position: relative;
}
.animal-profile-nav {
   height: var(--header-height);
   line-height: var(--header-height);
   display: flex;
   width: 80%;
    margin-top: 10px;

}

.animal-profile-nav div.active  {
   color: white;
   background: black;
   text-align: center;
   flex: 1 1 auto;
   border-radius: 25px;
   font-style: bold;
    width: 100%;

}

.animal-profile-nav div {
   text-align: center;
   flex: 1 1 auto;
    width: 100%;
}

.animal-profile-bottom>div {
   opacity: 0;
   pointer-events: none;
   transition: all 0.3s;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.animal-profile-bottom div.active {
   opacity: 1;
   pointer-events: initial;
}


/* User Profile */

#user-profile-page [data-role="main"] {
   position: relative;
   justify-content: center;
    margin-top: 20px;
    display: flex;
}

.user-profile-head {
   position: relative;
}
.user-profile-head>img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    position: relative;
    border: 8px solid #F28D8D;
    object-fit: cover;
}

.user-profile-body {
   padding: 1em;
}




/* Modals */
.modal {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   transition: all 0.2s;
   opacity: 0;
   z-index: 10;
}
.modal.active {
   opacity: 1;
}
.modal-back {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.7);
}
.modal.active .modal-back {
   pointer-events: initial;
}
.modal-back.transparent {
   background-color: transparent;
}
.modal-back.passthrough {
   pointer-events: none;
}

.modal-popup {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, calc(-50% + 3em));
   width: calc(100vw - 3em);
   max-height: calc(100vh - 3em);
   overflow: hidden;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   transition: all 0.4s;
}
.modal.active .modal-popup {
   transform: translate(-50%, -50%);
   pointer-events: initial;
}
.modal-head,
.modal-foot {
   background-color: var(--color-neutral-lighter);
   line-height: 2rem;
   padding: 0 1em;
}
.modal-body {
   background-color: white;
   flex: 1 1 100%;
   padding: 1em;
}

.modal-drawer {
   position: absolute;
   display: flex;
   flex-direction: column;
   transition: all 0.3s;
}

.modal-drawer.left,
.modal-drawer.right {
   height: 100%;
   width: 70vw;
}
.modal-drawer.left { left:0; transform:translateX(-100%); }
.modal-drawer.right { right:0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
   height: 40vh;
   width: 100%;
}
.modal-drawer.top { top:0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom:0; transform:translateY(100%); }

.modal.active .modal-drawer {
   transform: translate(0);
   pointer-events: initial;
}

#container {
  position: relative;
  left: 100px;
  width: 500px;
  height: 300px;
  border: 1px black solid;
  overflow: hidden;
  background-color: #eee;
  cursor: pointer;
}


#pin {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: red;
  transition: all 0.5s;
  transform: translate(-50%, -50%);
}

label.add-file {
    margin-left: 15px;
    font-style: bold;
}

.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset {
    border-style: none;
    color: pink;
}

.ui-input-text, .ui-input-search {
    margin: 15px;
    border-width: 1px;
    border-style: solid;
}

/* floater */
.floater { position: absolute; }
.floater.top { top:1rem }
.floater.right { right:1rem }
.floater.bottom { bottom:1rem }
.floater.left { left:1rem }


/* Before midterm */

.image-dog{
  width: 140px;
    height: 168px;
    border-radius: 12px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
    

.profile-pic{
  max-width: 100px;
    max-height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    
}

.dog-grid{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    align-items: center;
}



.form{
    padding: 2em;

}

.image-dog1{
    width: 168px;
    height: 168px;
    border-radius: 10px;
    background-image: url(../images/fav2.png));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.image-dog2{
    width: 168px;
    height: 168px;
    border-radius: 10px;
    background-image: url(../images/fav5.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.image-dog3{
    width: 168px;
    height: 168px;
    border-radius: 10px;
    background-image: url(../images/fav1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.image-dog4{
    width: 168px;
    height: 168px;
    border-radius: 10px;
    background-image: url(../images/dog3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.image-dog5{
    width: 168px;
    height: 168px;
    border-radius: 10px;
    background-image: url(../images/dog7.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.image-dog6{
    width: 168px;
    height: 168px;
    border-radius: 10px;
    background-image: url(../images/fav4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.image-dog7{
    width: 168px;
    height: 168px;
    border-radius: 10px;
    background-image: url(../images/fav2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.fav-dog1{
    width: 168px;
    height: 168px;
    border-radius: 10px;
    background-image: url(../images/1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fav-dog2{
    width: 168px;
    height: 168px;
    border-radius: 10px;
    background-image: url(../images/2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fav-dog3{
    width: 168px;
    height: 168px;
    border-radius: 10px;
    background-image: url(../images/3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fav-dog4{
    width: 168px;
    height: 168px;
    border-radius: 10px;
    background-image: url(../images/4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.image-splash {
    /* max-width: 80%; */
    /* max-height: 50%; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: auto; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.community-dog1{
  width: 168px;
    height: 168px;
    border-radius: 10px;
    background-image: url(../images/dog7.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.map {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.map-placeholder {
   width: 100%;
   height: 100%;
    background-position: center;
    background-size: cover;
}


.close-button {
    float: right;
    width: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    background-color: white;
}

.imagepicker .replace {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

.choose-animal-input{
  font-size: 16px;
  padding: 20px 8px 20px 14px;
  background: #fff;
  border: 3px solid pink;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

li.animal-list-item {
    list-style-type: none;
}

li {
    list-style-type: none;
}


p.login-form-text {
    text-align: center;
        font-size: 14px;
}

section#login-page {
    background: black;
}

.ui-mobile .form-label-white {
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin: 0.5rem 0;
}

.ui-mobile .form-label {
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin: 0.5rem 0;
}

section#signup-page {
    background: black;
}


.overscroll{
  top: 10px;
}

.imagepicker.replace {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

input#animal-edit-photo-input {
    font-family: poppins;
    font-style: italic;
}


a.js-logout.ui-link {
    color: white;
    /* background: black; */
    text-align: center;
    flex: 1 1 auto;
    border-radius: 25px;
    /* width: 100%; */
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: grey;
        font-weight: lighter;
}